
<div class="container p-1 justify-content-center">

    <div class="row d-flex m-1">

        <div class="col-lg-4 my-1"> <!-- Primeira coluna // Botões de inclusão, exclusão e conclusão de tarefas // Inicio -->
            <div class="row m-1 p-1"> <!-- Linha botões de inclusão e exclusão // Inicio -->
                <div class="col-12 p-1 d-flex justify-content-center"> 
                    <div class="col-6 d-flex justify-content-end"> <!-- Botão de inclusão // Inicio -->
                        <button type="button" class="btn btn-success">
                            Incluir Tarefa
                        </button>
                    </div> <!-- Botão de inclusão // Fim -->

                    <div class="col-6 d-flex"> <!-- Botão de exclusão // Inicio -->
                        <button type="button" class="btn btn-danger">
                            Excluir Tarefa
                        </button>
                    </div> <!-- Botão de exclusão // Fim -->
                </div> 

                <div class="col-12 mt-lg-5" > <!-- Linha botão conclusão de tarefa // Inicio -->
                    <div class="row justify-content-center ">
                        <div class="col-8">
                            <button type="button" class="btn btn-block btn-primary">
                                Concluir Tarefa
                            </button>
                        </div>
                    </div>
                </div> <!-- Linha botão conclusão de tarefa // Fim -->
            </div> 
        </div> <!-- Primeira coluna // Botões de inclusão, exclusão e conclusão de tarefas // Fim -->

        <div class="col-lg-4 my-1"> <!-- Segunda coluna // Tarefas diarias // Inicio -->

            <div class="col-12 border border-dark rounded">

                <div class="row">
                    <div class="col-12">

                        <div class="row justify-content-center border-bottom border-dark "> <!-- Linha de titulo tarefa -->
                            Tarefas Diárias Ativas
                        </div>

                        <div class="row justify-content-center border border-info my-1"> <!-- Linha de tarefa -->
                            Tarefa X
                        </div>

                        <div class="row justify-content-center border border-info my-1"> <!-- Linha de tarefa -->
                            Tarefa X
                        </div>

                        <div class="row justify-content-center border border-info my-1"> <!-- Linha de tarefa -->
                            Tarefa X
                        </div>

                    </div>
                </div>

            </div>

        </div> <!-- Segunda coluna // Tarefas diarias // Fim -->

        <div class="col-lg-4 my-1"> <!-- Terceira coluna // Calendario e Historico de tarefas // Inicio -->
            <div class="col-12 border border-dark rounded my-2 my-lg-0 " style="min-height: 250px;" > <!-- Calendario -->
                <div class="display-4">
                    Calendario
                </div>
            </div> <!-- Calendario -->

            <div class="col-12 text-center border border-dark rounded mt-1"> <!-- Historico de Tarefas -->
                <div class="row justify-content-center">
                    Histórico de tarefas
                </div> 
                <div class="row p-1">
                    <div class="col-12 border border-primary rounded my-1">
                        Tarefa Y
                    </div>
                    <div class="col-12 border border-primary rounded my-1">
                        Tarefa Y
                    </div>
                    <div class="col-12 border border-primary rounded my-1">
                        Tarefa Y
                    </div>
                </div>
            </div> <!-- Historico de Tarefas -->











        </div> <!-- Terceira coluna // Calendario e Historico de tarefas // Fim -->

    </div>

</div>





