
<div class="container border border-success p-1">
    <div class="col-md-4 border border-danger">
        <div class="row border m-1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae amet animi, sapiente, incidunt adipisci eum necessitatibus repellat.
        </div>

        <div class="row border m-1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae amet animi, sapiente, incidunt adipisci eum necessitatibus repellat.
        </div>
    

    </div>



</div>





