
<div class="container mb-3 justify-content-end" style="height: 70px; position: relative; z-index: 1;">
    <nav class="navbar navbar-expand-md" style="height: 70px;" > <!-- Barra de Navegação // Inicio -->
        <a href="">
            <img id="meuLogo" src="../../assets/LogoDesktop.svg" alt="logo" class=" d-none d-md-inline img-fluid ">
            <img id="meuLogo" src="../../assets/LogoMobile.svg" alt="logo" class=" d-inline d-md-none img-fluid ">
        </a>

        <!-- Menu Hamburger -->
        <button class="navbar-toggler " data-toggle='collapse' data-target='#nav-principal'>
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Navegação -->
        <div class="collapse navbar-collapse text-center mr-2 " id="nav-principal">                      
            <ul class="navbar-nav ml-auto mt-1 ">

                <li class="nav-item ">
                    <a class="nav-link"  routerLink = "" >
                        Tela Inicial
                    </a>
                </li>
                <li class="nav-link d-none d-md-inline">/</li>
                    
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink = '/listaTarefas' >
                        Lista de tarefas
                    </a>
                </li>

                <li class="nav-link d-none d-md-inline">/</li>


                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink = 'historico' >
                        Histórico de tarefas
                    </a>
                </li>
            </ul>
        </div> 
    </nav> <!-- Barra de Navegação // Fim -->

</div>

