
<div class="container mb-3 justify-content-end" style="height: 70px; position: relative; z-index: 1;">
    <nav class="navbar navbar-white navbar-expand-md" style="height: 70px;" > <!-- Barra de Navegação // Inicio -->
        <a href="">
            <img id="meuLogo" src="../../assets/Logo.svg" alt="logo" class="img-fluid ">
        </a>

        <!-- Menu Hamburger -->
        <button class="navbar-toggler " data-toggle='collapse' data-target='#nav-principal'>
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Navegação -->
        <div class="collapse navbar-collapse text-center mr-2" id="nav-principal">                      
            <ul class="navbar-nav ml-auto mt-1">

                <li class="nav-item">
                    <a href="#sobreMim" class="nav-link">
                        Tela Inicial
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#projetos" class="nav-link">
                        Lista de tarefas
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#contato" class="nav-link">
                        Histórico de tarefas
                    </a>
                </li>
            </ul>
        </div> 
    </nav> <!-- Barra de Navegação // Fim -->

</div>

