
<div class="container justify-content-end">
    <nav class="navbar navbar-white navbar-expand-sm "> <!-- Barra de Navegação // Inicio -->
        <a href="http://www.linkedin.com/in/rafael-navarro-209462180">
            <img id="meuLogo" src="../../assets/Logo.svg" alt="logo" class="img-fluid">
        </a>

        <!-- Menu Hamburger -->
        <button class="navbar-toggler " data-toggle='collapse' data-target='#nav-principal'>
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Navegação -->
        <div class="collapse navbar-collapse text-center mr-2" id="nav-principal">                      
            <ul class="navbar-nav ml-auto mt-1">

                <li class="nav-item">
                    <a href="#sobreMim" class="nav-link">
                        Tela Inicial
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#projetos" class="nav-link">
                        Lista de tarefas
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#contato" class="nav-link">
                        Histórico de tarefas
                    </a>
                </li>
            </ul>
        </div> 
    </nav> <!-- Barra de Navegação // Fim -->

</div>

