
<div class="container">

    <div class="row d-flex flex-wrap-reverse border border-dark rounded"> <!-- Linha do titulo // Inicio -->

        <div class="col-md-2 d-flex justify-content-center p-1"> <!-- Botão de exclusão -->
            <button type="button" class="btn btn-danger">
                Excluir Tarefa
            </button>
        </div> <!-- Botão de exclusão -->

        <div class="col-md-9 text-center p-1"> <!-- Titulo -->
            <h3> Histórico de Tarefas </h3>
        </div><!-- Titulo -->

    </div> <!-- Linha do titulo // Fim -->

    <div class="row mt-2"> <!-- Linha das colunas de tarefas // Inicio -->

        <div class="col-lg-3 "> <!-- Primeira Coluna de Tarefas // Inicio -->
            <div class="col-12 border border-dark m-1">
                <div class="row border-bottom border-dark justify-content-center ">
                    Primeira Semana
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
    

            </div>
        </div> <!-- Primeira Coluna de Tarefas // Fim -->


        <div class="col-lg-3 "> <!-- Segunda Coluna de Tarefas // Inicio -->
            <div class="col-12 border border-dark m-1">
                <div class="row border-bottom border-dark justify-content-center ">
                    Segunda Semana
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
    

            </div>
        </div> <!-- Segunda Coluna de Tarefas // Fim -->


        <div class="col-lg-3 "> <!-- Terceira Coluna de Tarefas // Inicio -->
            <div class="col-12 border border-dark m-1">
                <div class="row border-bottom border-dark justify-content-center ">
                    Terceira Semana
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
    

            </div>
        </div> <!-- Terceira Coluna de Tarefas // Fim -->


        <div class="col-lg-3 "> <!-- Quarta Coluna de Tarefas // Inicio -->
            <div class="col-12 border border-dark m-1">
                <div class="row border-bottom border-dark justify-content-center ">
                    Quarta Semana
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
                <div class="row border-top border-bottom border-secondary justify-content-center my-1">
                    Tarefa X
                </div>
    

            </div>
        </div> <!-- Quarta Coluna de Tarefas // Fim -->




    </div> <!-- Linha das colunas de tarefas // Fim -->

</div>