
<div class="container border border-dark">
    <div class="row"> <!-- Linha principal do container // Inicio -->

        <div class="col-md-6"> <!-- Coluna de tarefas ativas // Inicio -->
            <div class="row m-1 p-1">
                <div class="col-12 border border-dark rounded ">
                    <div class="row justify-content-center border-bottom border-dark">
                        Tarefas Diárias Ativas
                    </div>
                    <div class="row p-1">
                        <div class="col-12 text-center border border-primary my-1"> <!-- Tarefa Ativa -->
                            Tarefa X
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Tarefa Ativa -->
                            Tarefa X
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Tarefa Ativa -->
                            Tarefa X
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Tarefa Ativa -->
                            Tarefa X
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Tarefa Ativa -->
                            Tarefa X
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Coluna de tarefas ativas // Fim -->

        <div class="col-md-6"> <!-- Coluna Histórico de tarefas // Inicio -->
            <div class="row m-1 p-1">
                <div class="col-12 border border-dark rounded">
                    <div class="row justify-content-center border-bottom border-dark">
                        Histórico de tarefas
                    </div>
                    <div class="row p-1">
                        <div class="col-12 text-center border border-primary my-1"> <!-- Histórico Tarefa -->
                            Tarefa Y
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Histórico Tarefa -->
                            Tarefa Y
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Histórico Tarefa -->
                            Tarefa Y
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Histórico Tarefa -->
                            Tarefa Y
                        </div>
                        <div class="col-12 text-center border border-primary my-1"> <!-- Histórico Tarefa -->
                            Tarefa Y
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Coluna Histórico de tarefas // Fim -->

        <div class="col-md-12"> <!-- Botões de conclusão e exclusão de tarefas // Inicio -->
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center my-1">
                    <button type="button" class="btn  btn-block btn-primary">
                        Finalizar Tarefa
                    </button>
                </div>
                <div class="col-md-6 d-flex justify-content-center my-1">
                    <button type="button" class="btn btn-block btn-danger">
                        Excluir Tarefa
                    </button>
                </div>
            </div>
        </div> <!-- Botões de conclusão e exclusão de tarefas // Inicio -->

    </div> <!-- Linha principal do container // Fim -->
</div>



